{% extends 'polls/base.html' %}

{% block content %}

<div class="section-seperator">
    <div class="content-md container">
        <div class="row margin-b-40">
            <div class="col-sm-6">
                <h2>Удаление аккаунта {{ authuser }}</h2>
                <p>Вы действительно хотите удалить свой аккаунт?</p>
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="Да, удалить."/>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}