{% extends 'polls/base.html' %}

{% block content %}
<br>
{% if user.is_authenticated %}

<div class="" role="alert">
    <ul class="sidebar-nav">
        <li style="list-style-type: none;"><a href="{% url 'polls:user-detail' request.user.id %}">User: {{ user.get_username }}</a></li>
    </ul>
</div>
<a class="a2" href="{% url 'logout' %}">Logout</a>

{% if latest_question_list %}
<ul>
    {% for question in latest_question_list %}
    {% if question.was_published_recently or user.is_superuser %}
    <li><a href="{% url 'polls:detail' question.id %}">{{question.question_text}}</a></li>
    {{question.description|truncatechars:30}}
    {% endif %}
    {% endfor %}
</ul>

{% else %}
<p>
    Вопросов нет.
</p>


{% endif %}

{% else %}
<div class="" role="alert">
    <h1>PKUC Django Polls</h1>
</div>
{% endif %}
<br>
<div class="center">
    {% if not user.is_authenticated %}
    <a class="a1" href="{% url 'polls:signup'%}?next={{request.path}}">Регистрация</a>
    <a class="a2" href="{% url 'login' %}">Войти</a>
    {% endif %}
</div>
{% endblock content %}




