{% extends 'polls/base.html' %}

{% block content %}
    <br>
    <div role="alert">
        <h2 style="text-align: center;">Регистрация</h2>
    </div>
    <br>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <div>
            {{ field.label }}<br>
            {{ field }}
            {% if field.help_text %}
            <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
        </div>
        {% endfor %}
        <button type="submit" class="media">Зарегистрироваться</button>
    </form>
{% endblock content%}